$fontBase: 'Lato', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

$fontSizeBase: 16px;

$colorBase: #3677fd;
$colorDark: #5a5a5a;

body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    outline: none;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

.mainer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

    .block-header {
        background-image: url(../design/back.jpg);
    
        &__wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        

    &__photo {
        margin: 93px 0 53px 0;
        width: 185px;
        height: 185px;
    

        &__circle {
            width: 185px;
            height: 185px; 
            background-color: rgba(255, 255, 255, 0.068);
            border-radius: 50%;
            position: relative;
            

            &:before {
                content: '';
                width: 164px;
                height: 164px; 
                background-color: rgba(255, 255, 255, 0.158);
                border-radius: 50%;
                position: absolute;
                top: calc(100% - 175px);
                left: calc(100% - 175px);
            }

            &:after {
                content: '';
                width: 147px;
                height: 147px; 
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                top: calc(100% - 166px);
                left: calc(100% - 166px);
            }
        }
    }

    &__caption {
        text-transform: uppercase;
        font-size: 50px;
        line-height: 60px;
        padding: 0 0 37px 0 ;
        text-align: center;
        color: #fff;
        font-family: $fontBase;
        font-weight: 900;
        max-width: 815px;

        @media screen and (max-width: 600px) {
            font-size: 35px;
            line-height: 45px;
            padding: 0 0 20px 0 ;
        }

        @media screen and (max-width: 450px) {
            font-size: 25px;
            line-height: 35px;
            padding: 0 0 20px 0 ;
        }
    }

    &__description {
        color: #fff;
        line-height: 35px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        max-width: 770px;
        padding: 0 0 80px 0;

        @media screen and (max-width: 600px) {
            
            line-height: 20px;
            padding: 0 0 20px 0 ;
        }

        @media screen and (max-width: 450px) {
            line-height: 20px;
            padding: 0 0 20px 0 ;
            font-size: 14px;
        }
    }

    &__button {
        border: 0;
        outline: none;
        background-color: #fff;
        color: #3677fd;
        text-transform: uppercase;
        line-height: 30px;
        font-family: $fontBase;
        font-weight: 700;
        padding: 15px 75px;
        border-radius: 50px;
        transition-duration: 0.3s;

        &:hover {
            transform: scale(1.07);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            cursor: pointer;
        }
    }

    &__arrow {
        padding: 92px 0 24px 0;
        height: 32px;

        @media screen and (max-width: 600px) {
            padding: 30px 0;
        }
    } 
}

