$fontBase: 'Lato', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

$fontSizeBase: 16px;

$colorBase: #3677fd;
$colorDark: #5a5a5a;

body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    outline: none;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

.mainer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* about */
.about{
    &__inner{
        text-align: center;
        padding-top: 100px;
        padding-left: 66px;
        padding-right: 66px;
        padding-bottom: 118px;
    }
    &__title{
        font-size: 50px;
        font-weight: 300;
        color: #3695ff;
        font-family: 'Lato', sans-serif;
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
        color: #5a5a5a;
        padding-top: 50px;
    }
}

/* lworks */
.page {

    &--bg-lworks {
        padding: 90px 0 142px 0;
        background-color: #fff;
    }

    @media screen and (max-width: 767px) {
        padding: 40px 0 40px 0;
    }

}
.lworks {

    &__caption {
        font-size: 50px;
        font-weight: 300;
        color: $colorBase;
        text-align: center;
        margin: 0 0 100px 0;
    }

    @media screen and (max-width: 767px) {
        margin: 0 0 40px 0;
    }
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: 0 -15px;

    &__col {
        padding: 0 15px;
        flex: 1 0 33%;
        max-width: 33%;
        box-sizing: border-box;
        
        @media screen and (max-width: 767px) {
            max-width: 50%;
            flex: 1 0 50%;
        }

        @media screen and (max-width: 480px) {
            max-width: 100%;
            flex: 1 0 100%;
        }
    }    
}
.lworks-block {
    border-radius: 9px;
    background-color: #f4f4f4;
    padding: 30px 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 269px;
    margin: 0 0 52px 0;
    
    @media screen and (max-width: 991px) {
        padding: 20px 30px 0 30px;
    }

    @media screen and (max-width: 767px) {
        padding: 10px 20px 0 20px;
    }

    &__img {
        display: block;
        max-width: 100%;
        cursor: pointer;
    }
}