$fontBase: 'Lato', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

$fontSizeBase: 16px;

$colorBase: #3677fd;
$colorDark: #5a5a5a;

$fontTitleWeight: 300;
$fontTitleColor: #3695FF;
$fontTitleSize: 50px;

body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    outline: none;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}



.block-slide {
    background-color: #f1f8ff;

    &__mainer {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.page {
    text-align: center;
    padding: 100px 0 20px 0;

    &__title {
        font-size: $fontTitleSize;
        font-weight: $fontTitleWeight;
        color: $fontTitleColor;
        padding-bottom: 100px;

        @media screen and (max-width: 768px) {
            padding-bottom: 30px;
        }
    }

    &__info {
        box-sizing: border-box;
        
        .block {
            display: flex;
            margin-bottom: 100px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                margin-bottom: 10px;
            }

            &__column {
                margin: 0 15px;

                &-image {
                    width: 142px;
                    height: 142px;
                    border: 1px solid #bac3cc;
                    border-radius: 50%;
                    margin: 0 auto;
                    margin-bottom: 60px;
                    
                    @media screen and (max-width: 768px) {
                        margin-top: 40px;
                    }

                    .img {
                        margin: 35px;
                    }
                }

                &-title {
                    font-size: 24px;
                    font-weight: 700;
                    color: #3677fd;
                    margin-bottom: 15px;
                }

                &-desc {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 35px;
                }
            }
        }
    }
}