$fontBase: "Lato", sans-serif;
$fontSecondary: "Montserrat", sans-serif;

$fontSizeBase: 16px;
$fontTitleSize: 50px;

$fontTitleWeight: 300;
$fontTitleColor: #3695ff;

$colorBase: #3677fd;
$colorDark: #5a5a5a;

$breakpointTablet: 768px;
$breakpointMobile: 480px;

body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #000000;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  outline: none;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;

  &:hover {
    text-decoration: none;
  }
}

.mainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.lock {
  overflow: hidden;
}

.first-block {
  background-image: url(../img/bg-head.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.block-head {
  padding: 166px 0 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__toggle {
    width: 42px;
    height: 42px;
    position: absolute;
    right: 0;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &-line {
      width: 25px;
      height: 2px;
      background-color: #fff;
      position: relative;

      &:before {
        content: "";
        width: 25px;
        height: 2px;
        display: block;
        position: absolute;
        background-color: #fff;
        top: -8px;
      }
      &:after {
        content: "";
        width: 25px;
        height: 2px;
        display: block;
        position: absolute;
        background-color: #fff;
        bottom: -8px;
      }
    }
  }
  &__logo {
    width: 147px;
    height: 147px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    border: 8px solid #589dfe;
    margin: 0 0 50px 0;

    &:after {
      content: "";
      width: 163px;
      height: 163px;
      border-radius: 50%;
      border: 10px solid rgba(72, 148, 254, 0.5);
      display: block;
      position: absolute;
      top: -18px;
      left: -18px;
    }
  }

  &__title {
    font-size: $fontTitleSize;
    font-family: $fontBase;
    font-weight: 900;
    max-width: 820px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0 0 19px 0;

    @media screen and(max-width: $breakpointMobile) {
      font-size: $fontTitleSize - 10px;
    }
  }

  &__subtitle {
    font-family: $fontBase;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    max-width: 770px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    margin: 0 0 67px 0;
  }

  &__btn {
    height: 55px;
    padding: 0 69px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 27px;
    border: none;
    color: $colorBase;
    cursor: pointer;
    margin: 0 0 90px 0;

    &:hover {
      background-color: #2569c9;
      color: #fff;
    }
  }
  &__bottom {
    background-image: url(../img/bottom.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 32px;
    display: block;
  }
}

.block-slide {
  background-color: #f1f8ff;

  &__mainer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.page {
  text-align: center;
  padding: 100px 0 20px 0;

  &__title {
    font-size: $fontTitleSize;
    font-weight: $fontTitleWeight;
    color: $fontTitleColor;
    padding-bottom: 100px;

    @media screen and (max-width: 768px) {
      padding-bottom: 30px;
    }
  }

  &__info {
    box-sizing: border-box;

    .block {
      display: flex;
      margin-bottom: 100px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 10px;
      }

      &__column {
        margin: 0 15px;

        &-image {
          width: 142px;
          height: 142px;
          border: 1px solid #bac3cc;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 60px;
          transition-duration: 0.3s;;

          &:hover {
            background-color: white;
            transform: scale(1.1,1.1);
            border: 1px solid #3677fd;
          }

          @media screen and (max-width: 768px) {
            margin-top: 40px;
          }

          .img {
            margin: 35px;
          }
        }

        &-title {
          font-size: 24px;
          font-weight: 700;
          color: #3677fd;
          margin-bottom: 15px;
        }

        &-desc {
          font-size: 16px;
          font-weight: 400;
          line-height: 35px;
        }
      }
    }
  }

  &__logo {
      margin-bottom: 80px;

      &-microsoft {
          margin: 20px 50px;
          display: inline-block;
          width: 151px;
          height: 40px;
          background-image: url(../img/sprite_logo.png);

            &:hover {
                background-position: 0 -54px;
            }   
      }

      &-samsung {
          margin: 20px 50px;
          display: inline-block;
          width: 187px;
          height: 42px;
          background-image: url(../img/sprite_logo.png);
          background-position: -150px -4px;
          
          &:hover {
            background-position: -150px -56px;
        }

      }

      &-ibm {
          margin: 20px 50px;
          display: inline-block;
          width: 140px;
          height: 57px;
          background-image: url(../img/sprite_logo.png);
          background-position: 324px 1px;
          
          &:hover {
            background-position: 324px -55px;
        }
      }

      &-google {
          margin: 20px 50px;
          display: inline-block;
          width: 170px;
          height: 56px;
          background-image: url(../img/sprite_logo.png);
          background-position: 180px 0;
         
          &:hover {
            background-position: 180px 56px;
        }
      }
  }
}

.latest-works {
  &__name {
    font-weight: $fontTitleWeight;
    color: $fontTitleColor;
    font-size: $fontTitleSize;
    margin: 70px auto;
    text-align: center;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    box-sizing: border-box;
  }
  &__item {
    background-color: #f4f4f4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 25px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    min-height: 270px;
    padding: 0;

    @media screen and (max-width: 400px) {
      margin: 10px;
      width: 100%;
      min-width: auto;
      min-height: auto;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (min-width: 1140px) {
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        border: 1px #3695ff solid;
      }
    }
  }
}

.block-aboutme {
  padding: 100px 0;

  @media screen and (max-width: $breakpointMobile) {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 48px;
    width: 100%;
    text-align: center;
    font-size: $fontSizeBase + 34px;
    font-weight: $fontTitleWeight;
    color: $fontTitleColor;

    @media screen and (max-width: $breakpointMobile) {
      margin-bottom: 15px;
    }
  }

  &__description {
    font-size: $fontSizeBase;
    line-height: 35px;
    text-align: center;
  }
}

.block-pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  padding: 150px 15px 0 15px;
  box-sizing: border-box;
  .pop-up {
    max-width: 813px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    padding: 0 15px;
    &__close {
      width: 22px;
      height: 22px;
      background-image: url(../img/close.png);
      background-repeat: no-repeat;
      align-self: flex-end;
      color: $colorBase;
      margin: 20px 5px 0px 0;
      cursor: pointer;
    }
    &__title {
      font-size: $fontTitleSize;
      color: $colorBase;
      margin: 0 0 11px 0;

      @media screen and(max-width: $breakpointMobile) {
        font-size: $fontTitleSize - 10px;
      }
    }
    &__input {
      max-width: 519px;
      width: 100%;
      height: 46px;
      margin: 0 0 14px 0;
      padding: 0 22px;
      border-radius: 7px;
      border: 1px solid #b7c0c9;
      &:invalid {
        border: 1px solid #df1515;
      }
    }
    &__input--message {
      padding-top: 18px;
      height: 180px;
      margin: 0 0 45px 0;
      resize: none;
    }
    &__btn {
      padding: 0 50px;
      height: 55px;
      background: linear-gradient(
        90deg,
        rgba(54, 149, 255, 1) 0%,
        rgba(53, 110, 253, 1) 100%
      );
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 27px;
      border: none;
      margin: 0 0 60px 0;
      cursor: pointer;
      &:hover {
        background-color: darken($colorBase, 20);
      }
    }
  }
}

.block-hireMe {
  width: 100%;
  background-image: url(/img/bg-hire-me.jpg);
  background-size: cover;

  &__row {
    display: flex;
    align-items: center;
    padding: 100px 0;

    @media screen and (max-width: $breakpointTablet) {
      padding: 50px 0;
      flex-direction: column;
    }
  }

  &__col {
    flex-grow: 1;
  }

  &__text {
    margin: 0;
    color: #fff;
    font-size: $fontSizeBase + 34px;
    font-weight: 300;

    @media screen and (max-width: $breakpointTablet) {
      text-align: center;
      font-size: $fontSizeBase + 16;
      margin-bottom: 25px;
    }
  }

  &__text-bold {
    font-weight: 700;
  }

  &__btn {
    margin: 0;
    padding: 17px 70px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    border-radius: 27px;
    border: none;
    color: $colorBase;
    cursor: pointer;
    &:hover {
      background-color: #2569c9;
      color: #fff;
    }
  }
}
.cookies {
  position: fixed;
  background-color: #194277;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  z-index: 10;

  &__text {
    color: white;
  }
  .cookies__button {
    width: 112px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #194277;
    font-weight: bold;
    margin-left: 65px;

    &:hover {
      background-color: #f4f4f4;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    .cookies__button {
      cursor: default;
      margin: 10px auto;
    }
  }
}
.block-toggle-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  padding: 80px 15px 0 15px;
  box-sizing: border-box;

  .toggle-menu-list {
    width: 100%;
    background-color: #fff;
    list-style: none;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;

    &__close {
      align-self: flex-end;
      background-image: url(../img/close.png);
      background-repeat: no-repeat;
      width: 22px;
      height: 22px;
      margin: 20px 5px 36px 0;
      cursor: pointer;
      @media screen and(max-width: $breakpointMobile) {
        margin-bottom: 16px;
      }
    }
    &__item {
      margin: 0 0 37px 0;
      @media screen and(max-width: $breakpointMobile) {
        margin-bottom: 7px;
      }

      &-link {
        font-size: $fontTitleSize;
        color: #d2d2d2;
        text-decoration: none;
        font-weight: 300;
        font-family: $fontBase;
        display: block;
        text-align: center;
        @media screen and(max-width: $breakpointMobile) {
          font-size: $fontTitleSize - 10px;
        }
        &:hover {
          color: $colorBase;
        }
      }
    }
    &__line {
      max-width: 396px;
      width: 100%;
      height: 1px;
      background-color: #d1d9e4;
      margin: 34px 0 76px 0;
      @media screen and(max-width: $breakpointMobile) {
        margin: 14px 0;
      }
    }
    &__social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 0 28px 0;
      @media screen and(max-width: $breakpointMobile) {
        margin: 0 0 14px 0;
      }
      &-item {
        width: 51px;
        height: 51px;
        margin: 0 14px;
        border-radius: 50%;
        background-color: #e1e1e1;
        display: block;

        @media screen and(max-width: $breakpointMobile) {
          margin: 0 2px;
        }
        &:hover {
          background-color: $colorBase;
        }
      }
      &-item--f {
        background-image: url(../img/social-icons.png);
        background-repeat: no-repeat;
      }
      &-item--t {
        background-image: url(../img/social-icons.png);
        background-repeat: no-repeat;
        background-position: -52px 0;
      }
      &-item--d {
        background-image: url(../img/social-icons.png);
        background-repeat: no-repeat;
        background-position: -102px 0;
      }
      &-item--b {
        background-image: url(../img/social-icons.png);
        background-repeat: no-repeat;
        background-position: -153px 0;
      }
    }

    &__lang {
      align-self: flex-end;
      margin: 0 0 23px 0;
      &-link {
        text-decoration: none;
        font-weight: normal;
        font-family: $fontBase;
        font-size: 16px;
        position: relative;
        margin: 0 62px 0 0;
        color: #d2d2d2;

        &::before {
          content: "";
          background-image: url(../img/eng-icon.jpg);
          background-repeat: no-repeat;
          width: 37px;
          height: 22px;
          display: block;
          position: absolute;
          top: 0;
          left: 43px;
        }
      }
    }
  }
}
