$fontBase: "Lato", sans-serif;
$fontSecondary: "Montserrat", sans-serif;

$fontSizeBase: 16px;

$colorBase: #3677fd;
$colorDark: #5a5a5a;

body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #000000;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  outline: none;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;

  &:hover {
    text-decoration: none;
  }
}

.about_me {
  padding: 100px 0 115px;
}
.mainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-family: $fontBase;
  font-weight: 300;
  font-size: 50px;
  color: $colorBase;
  text-align: center;
}

.about_me-description {
  font-family: $fontBase;
  font-size: $fontSizeBase;
  line-height: 35px;
  color: $colorDark;
  text-align: center;
  margin: 46px 0 0 0;
  max-width: 1070px;
}

/* Block-EXPERT */

.block-expert {
  background-color: #f1f8ff;
  padding: 90px 0;
  &__row {
    display: flex;
    margin: 40px 0 20px 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    &__cell {
      max-width: 360px;
      flex-grow: 1;
      padding: 0 15px;
      cursor: pointer;
      &:hover {
        @media screen and (min-width: 768px) {
          .cell__content__icon {
            background-color: #eceff1;
            border-color: $colorBase;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.cell__content {
  text-align: center;
  &__icon {
    border-radius: 50%;
    border: 2px solid #bac3cc;
    width: 140px;
    height: 140px;
    padding: 29px;
    box-sizing: border-box;
    margin: 60px auto;
    transition-duration: 0.4s;
    transform: scale(1);
  }
  &__description {
    font-size: $fontSizeBase;
    line-height: 35px;
    margin: 25px 0 25px 0;
  }
  &__title {
    font-size: $fontSizeBase + 8;
    color: $colorBase;
    font-weight: bold;
  }
}

/* Block-EXPERT - END */

/* Block-works */

.block-works__row {
  display: flex;
  margin: 40px 0 20px 0;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  &__cell {
    width: 260px;
    padding: 0 15px;
    flex-grow: 1;
  }
}

.block-works__row__cell__content img {
  max-width: 100%;
}

/* Block-works - END */

header {
  background-image: url(../design/Eskulap-Template-Symu_co.jpg);
  background-size: cover;
  background-position: center;
  .header__content {
    margin: 0 auto;
    padding: 25px;
    max-width: 815px;
    .header__icon {
      width: 147px;
      height: 147px;
      background-color: #fff;
      border-radius: 50%;
      margin: 80px auto 97px auto;
      border: 9px solid #589bfe;
      box-shadow: 0 0 0 9px #4791fe;
    }
    h1 {
      font-family: $fontBase;
      font-size: 50px;
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0 0 18px 0;
    }
    .header__text {
      font-family: $fontBase;
      font-weight: 400;
      font-size: $fontSizeBase;
      color: #fff;
      text-align: center;
      line-height: 35px;
      text-transform: uppercase;
    }
    .header__button {
      display: block;
      width: 204px;
      text-align: center;
      padding: 20px;
      border: none;
      box-sizing: border-box;
      font-family: $fontBase;
      font-weight: bold;
      font-size: $fontSizeBase;
      margin: 67px auto 92px auto;
      text-transform: uppercase;
      color: #3695ff;
      background-color: #fff;
      border-radius: 26px;
      &:hover {
        background-color: darken(#ffffff, 10);
      }
      &:active {
        background-color: #fff;
      }
    }
    .header__arrow {
      img {
        display: block;
        margin: 0 auto 24px auto;
      }
    }
  }

  @media screen and (max-width: 768px) and (min-width: 550px) {
    .header__content {
      h1 {
        font-size: 30px;
      }
      .header__text {
        font-size: $fontSizeBase - 2;
      }
    }
  }

  @media screen and (max-width: 550px) {
    .header__content {
      h1 {
        font-size: 25px;
        line-height: 40px;
      }
      .header__text {
        line-height: 25px;
        font-size: $fontSizeBase - 6;
      }
      .header__button {
        width: 100%;
      }
    }
  }
}
